@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
/* font-family: 'Truculenta'; */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Truculenta';  
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background-color: antiquewhite;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.container {
    text-align: center;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    left: 35%;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

.progress-container::before {
    content: '';
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4 ease;
}

.progress {
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: white;
    color: grey;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid grey;
    transition: 0.4 ease;
}

.circle.active {
    border-color: blue;
}

.btn {
    background-color: blue;
    color: white;
    border: 0;
    font-family: inherit;
    border-radius: 10px;
    padding: 8px 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: grey;
    cursor: not-allowed;
}